<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGhHCbSAljhgJ9qRK8WZ8CwkMtQacaEAA</string>
	<key>GCM_SENDER_ID</key>
	<string>645904767969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdul.Hit-Send</string>
	<key>PROJECT_ID</key>
	<string>hit-send</string>
	<key>STORAGE_BUCKET</key>
	<string>hit-send.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645904767969:ios:0b69de3b155b4ca5a390a0</string>
</dict>
</plist>